@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
    background-color: #FFFFFF;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: Inter, Arial, sans-serif;
    position: relative;
}
