.about-project {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 110px 0;
    display: flex;
    flex-direction: column;
}
.about-project__header {
    border-bottom: black 1px solid;
    margin-top: 0;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 70px;
}
.about-project__container {
    display: flex;
    gap: 40px;
    padding-bottom: 110px;
}

.about-project__info-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 550px;
    width: 100%;
}

.about-project__info-header {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.about-project__info-text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.about-project__timeline {
    display: grid;
    row-gap: 14px;
    grid-template-rows: minmax(36px, max-content) minmax(17px, max-content);
    grid-template-columns:minmax(min-content, 228px) minmax(min-content, 912px);
}

.about-project__timeline-info {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project__timeline-info_type_one-week {
    color: #FFFFFF;
    background-color: black;
}

.about-project__timeline-info_type_four-week {
    color: black;
    background-color: #F2F2F2;
}
.about-project__timeline-info_type_stage {
    font-weight: 500;
    color: #A0A0A0;
}
