.about-project {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 110px 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1150px) {
    .about-project {
        max-width: 668px;
        padding: 90px 0;
    }
}

@media screen and (max-width: 695px) {
    .about-project {
        max-width: 284px;
        padding: 70px 0;
    }
}

.about-project__header {
    border-bottom: black 1px solid;
    margin-top: 0;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 70px;
}

@media screen and (max-width: 695px) {
    .about-project__header {
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}

.about-project__container {
    display: flex;
    gap: 40px;
    padding-bottom: 110px;
}

@media screen and (max-width: 695px) {
    .about-project__container {
        flex-direction: column;
        gap: 56px;
        padding-bottom: 60px;
    }
}

.about-project__info-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 550px;
    width: 100%;
}

.about-project__info-header {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

@media screen and (max-width: 695px) {
    .about-project__info-header {
        font-size: 18px;
        line-height: 22px;
    }
}

.about-project__info-text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@media screen and (max-width: 695px) {
    .about-project__info-text {
        font-size: 11px;
        line-height: 16px;
    }
}

.about-project__timeline {
    display: grid;
    row-gap: 14px;
    grid-template-rows: minmax(36px, max-content) minmax(17px, max-content);
    grid-template-columns:minmax(min-content, 228px) minmax(min-content, 912px);
}

@media screen and (max-width: 1150px) {
    .about-project__timeline {
        grid-template-columns:minmax(min-content, 140px) minmax(min-content, 528px);
    }
}

@media screen and (max-width: 695px) {
    .about-project__timeline {
        row-gap: 10px;
        grid-template-rows: minmax(35px, max-content) minmax(13px, max-content);
        grid-template-columns:minmax(min-content, 100px) minmax(min-content, 184px);
    }
}

.about-project__timeline-info {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 695px) {
    .about-project__timeline-info {
        font-size: 11px;
        line-height: 13px;
    }
}

.about-project__timeline-info_type_one-week {
    color: #FFFFFF;
    background-color: black;
}

.about-project__timeline-info_type_four-week {
    color: black;
    background-color: #F2F2F2;
}

.about-project__timeline-info_type_stage {
    font-weight: 500;
    color: #A0A0A0;
}
