.student {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 110px 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1150px) {
    .student {
        max-width: 668px;
        padding: 90px 0;
    }
}

.student__header {
    border-bottom: black 1px solid;
    margin-top: 0;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 66px;
}

.student__container {
    display: flex;
    gap: 270px;
}

@media screen and (max-width: 1150px) {
    .student__container {
        gap: 49px;
    }
}

.student__info-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.student__name {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}

@media screen and (max-width: 1150px) {
    .student__name {
        font-size: 40px;
        line-height: 40px;
    }
}

.student__about {
    margin-top: 18px;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

@media screen and (max-width: 1150px) {
    .student__about {
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 18px;
    }
}

.student__info {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

@media screen and (max-width: 1150px) {
    .student__info {
        font-size: 12px;
        line-height: 18px;
    }
}

.student__git {
    margin-top: 99px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1150px) {
    .student__git {
        margin-top: 87px;
        font-size: 14px;
        line-height: 17px;
    }
}

.student__image {
    max-width: 270px;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 1150px) {
    .student__image {
        max-width: 255px;
    }
}
